[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "==1.1.0" # Pinned due to bug with install 1.1.0.post2 on windows/linux
jupyterlab = "*"
scipy = "*"
matplotlib = "*"
ipympl = "*"
ray = "*"
mpmath = "*"
repoze-lru = "*"
requests = "*"
ruamel-yaml = "*"
sacred = "*"
gitpython = "*"
pymongo = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
